
<html>
<head>
    <meta charset="UTF-8">
    <title>StackExchange Search!</title>
    <link
        href = "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        rel="stylesheet"
    />
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">

</head>

<style>
body {
  background-image: url('https://img.freepik.com/free-vector/digital-white-background-with-binary-code-numbers_1017-25335.jpg?size=626&ext=jpg');
}
h1 {
  color: navy;
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

form{
font-size: 40; // for say a select
width: 100px;
}
input {
width: 560px;
}
</style>

<body>
  <div class="container">
    <h1> Search through Stack Exchange </h1>
  </div>

  <div class = "container">

  <form action="/results" method="post">
    <input name="text">
    <br>
    <br>
    <input type="submit" type="button" class="container btn btn-dark" value="Submit">
  </form>
  </div>

</body>

</html>
